<div class="container header" id="headerPic">
	<h1>Dawg Coffee Orders</h1>
	<div class="hidden-xs">
	 	Supplying Sleepy Huskies Since 2015
	</div>
</div>

<div class="container">
	<h2>My Cart</h2>
	<table class="table">
	    <tr>
	        <th>Item</th>
	        <th>Grind</th>
	        <th>Quantity</th>
	        <th>Unit Price</th>
	        <th>Total Price</th>
	        <th></th>
	    </tr>
	    <tr ng-repeat="selectedBean in addToCart">
	        <td>{{selectedBean.name}}</td>
	        <td>{{selectedBean.grind}}</td>
	        <td><i ng-click="decrease(selectedBean)" ng-model="selectedBean" class="fa fa-minus-square"></i>{{selectedBean.quantity}}<i ng-click="increase(selectedBean)" ng-model="selectedBean" class="fa fa-plus-square"></i></td>
	        <td>{{selectedBean.price | currency:"$":2}}</td>
	        <td>{{selectedBean.price * selectedBean.quantity | currency:"$":2}}</td>
	        <td><i ng-click="delete(selectedBean)"class="fa fa-trash"></i></td>
	    </tr>
	</table>
	<div id="total">Grand Total: {{calculateTotal() | currency:"$":2}}</div>
	<div class="buttonDiv"><button id="cartButton" class="btn btn-primary" type="submit" ng-click="submit()">Submit</button></div>
</div>